AYKJ.GISDevelop/Service References/AykjDataServiceInner/AykjData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCrossDomainAPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrossDomainAPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCrossDomainAPIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContrastData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContrastDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContrastDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSqlDataById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m_wxyid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_wxytype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_dwdm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSqlDataByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSqlDataByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewSqlData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m_wxyid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_wxytype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_dwdm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_idkey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_x" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_y" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewSqlDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewSqlDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m_wxyid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_wxytype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_dwdm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDataLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>