AYKJ.GISDevelop/Service References/AykjRealData/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Silverlight" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Silverlight" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Silverlight/Imports">
      <xsd:import schemaLocation="http://localhost:18333/Service1.svc?xsd=xsd0" namespace="Silverlight" />
      <xsd:import schemaLocation="http://localhost:18333/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18333/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AYKJ.GISDevelop.RealDataWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetContrastData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContrastData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContrastData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContrastDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRealData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRealData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRealData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRealDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNewData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNewData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StopTimer_InputMessage">
    <wsdl:part name="parameters" element="tns:StopTimer" />
  </wsdl:message>
  <wsdl:message name="IService1_StopTimer_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopTimerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReceiveMessages_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveMessages" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetContrastData">
      <wsdl:input wsaw:Action="Silverlight/IService1/GetContrastData" message="tns:IService1_GetContrastData_InputMessage" />
      <wsdl:output wsaw:Action="Silverlight/IService1/GetContrastDataResponse" message="tns:IService1_GetContrastData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="Silverlight/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="Silverlight/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="Silverlight/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="Silverlight/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRealData">
      <wsdl:input wsaw:Action="Silverlight/IService1/GetRealData" message="tns:IService1_GetRealData_InputMessage" />
      <wsdl:output wsaw:Action="Silverlight/IService1/GetRealDataResponse" message="tns:IService1_GetRealData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewData">
      <wsdl:input wsaw:Action="Silverlight/IService1/GetNewData" message="tns:IService1_GetNewData_InputMessage" />
      <wsdl:output wsaw:Action="Silverlight/IService1/GetNewDataResponse" message="tns:IService1_GetNewData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopTimer">
      <wsdl:input wsaw:Action="Silverlight/IService1/StopTimer" message="tns:IService1_StopTimer_InputMessage" />
      <wsdl:output wsaw:Action="Silverlight/IService1/StopTimerResponse" message="tns:IService1_StopTimer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveMessages">
      <wsdl:output wsaw:Action="Silverlight/IService1/ReceiveMessages" message="tns:IService1_ReceiveMessages_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>