AYKJ.GISDevelop/Service References/AykjDataService/WebServicePort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://controllers.ay.com/" targetNamespace="http://controllers.ay.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetAllData" type="tns:GetAllData" />
  <xs:element name="GetAllDataResponse" type="tns:GetAllDataResponse" />
  <xs:element name="GetContrastData" type="tns:GetContrastData" />
  <xs:element name="GetContrastDataResponse" type="tns:GetContrastDataResponse" />
  <xs:element name="GetCrossDomainAPI" type="tns:GetCrossDomainAPI" />
  <xs:element name="GetCrossDomainAPIResponse" type="tns:GetCrossDomainAPIResponse" />
  <xs:element name="addNewSqlData" type="tns:addNewSqlData" />
  <xs:element name="addNewSqlDataResponse" type="tns:addNewSqlDataResponse" />
  <xs:element name="commitConcertPlot" type="tns:commitConcertPlot" />
  <xs:element name="commitConcertPlotResponse" type="tns:commitConcertPlotResponse" />
  <xs:element name="deleteSqlDataById" type="tns:deleteSqlDataById" />
  <xs:element name="deleteSqlDataByIdResponse" type="tns:deleteSqlDataByIdResponse" />
  <xs:element name="getDataLocation" type="tns:getDataLocation" />
  <xs:element name="getDataLocationResponse" type="tns:getDataLocationResponse" />
  <xs:element name="getGridInfo" type="tns:getGridInfo" />
  <xs:element name="getGridInfoResponse" type="tns:getGridInfoResponse" />
  <xs:element name="updateConcertPlot" type="tns:updateConcertPlot" />
  <xs:element name="updateConcertPlotResponse" type="tns:updateConcertPlotResponse" />
  <xs:complexType name="GetAllData">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetAllDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDataLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDataLocationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNewSqlData">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element minOccurs="0" name="arg6" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNewSqlDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetContrastData">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetContrastDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGridInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGridInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="commitConcertPlot">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="commitConcertPlotResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateConcertPlot">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateConcertPlotResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteSqlDataById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteSqlDataByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCrossDomainAPI">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCrossDomainAPIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>