AYKJ.GISExtension/Service References/AykjDataServiceInner/AykjData1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AykjData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.119/AYKJ/WCF/DataWCF/AykjData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.119/AYKJ/WCF/DataWCF/AykjData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAykjData_deleteSqlDataById_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteSqlDataById" />
  </wsdl:message>
  <wsdl:message name="IAykjData_deleteSqlDataById_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteSqlDataByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAykjData_addNewSqlData_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewSqlData" />
  </wsdl:message>
  <wsdl:message name="IAykjData_addNewSqlData_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewSqlDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAykjData_GetAllData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllData" />
  </wsdl:message>
  <wsdl:message name="IAykjData_GetAllData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAykjData_getDataLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataLocation" />
  </wsdl:message>
  <wsdl:message name="IAykjData_getDataLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataLocationResponse" />
  </wsdl:message>
  <wsdl:portType name="IAykjData">
    <wsdl:operation name="deleteSqlDataById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAykjData/deleteSqlDataById" message="tns:IAykjData_deleteSqlDataById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAykjData/deleteSqlDataByIdResponse" message="tns:IAykjData_deleteSqlDataById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewSqlData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAykjData/addNewSqlData" message="tns:IAykjData_addNewSqlData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAykjData/addNewSqlDataResponse" message="tns:IAykjData_addNewSqlData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAykjData/GetAllData" message="tns:IAykjData_GetAllData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAykjData/GetAllDataResponse" message="tns:IAykjData_GetAllData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAykjData/getDataLocation" message="tns:IAykjData_getDataLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAykjData/getDataLocationResponse" message="tns:IAykjData_getDataLocation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAykjData" type="tns:IAykjData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteSqlDataById">
      <soap:operation soapAction="http://tempuri.org/IAykjData/deleteSqlDataById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewSqlData">
      <soap:operation soapAction="http://tempuri.org/IAykjData/addNewSqlData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <soap:operation soapAction="http://tempuri.org/IAykjData/GetAllData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataLocation">
      <soap:operation soapAction="http://tempuri.org/IAykjData/getDataLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AykjData">
    <wsdl:port name="BasicHttpBinding_IAykjData" binding="tns:BasicHttpBinding_IAykjData">
      <soap:address location="http://10.0.0.119/AYKJ/WCF/DataWCF/AykjData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>