AYKJ.GISInterface/Service References/AykjDataServiceInner/WebServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controllers.ay.com/" name="WebServiceService" targetNamespace="http://controllers.ay.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.0.0.163:8016/jnws/WebServicePort?xsd=1" namespace="http://controllers.ay.com/" />
    </xsd:schema>
  </types>
  <message name="getGridInfo">
    <part name="parameters" element="tns:getGridInfo" />
  </message>
  <message name="getGridInfoResponse">
    <part name="parameters" element="tns:getGridInfoResponse" />
  </message>
  <message name="GetCrossDomainAPI">
    <part name="parameters" element="tns:GetCrossDomainAPI" />
  </message>
  <message name="GetCrossDomainAPIResponse">
    <part name="parameters" element="tns:GetCrossDomainAPIResponse" />
  </message>
  <message name="GetAllData">
    <part name="parameters" element="tns:GetAllData" />
  </message>
  <message name="GetAllDataResponse">
    <part name="parameters" element="tns:GetAllDataResponse" />
  </message>
  <message name="getStatusDataFromSqlServer">
    <part name="parameters" element="tns:getStatusDataFromSqlServer" />
  </message>
  <message name="getStatusDataFromSqlServerResponse">
    <part name="parameters" element="tns:getStatusDataFromSqlServerResponse" />
  </message>
  <message name="getSeniorInfoFromSqlServer">
    <part name="parameters" element="tns:getSeniorInfoFromSqlServer" />
  </message>
  <message name="getSeniorInfoFromSqlServerResponse">
    <part name="parameters" element="tns:getSeniorInfoFromSqlServerResponse" />
  </message>
  <message name="getCardPersonFromSqlServer">
    <part name="parameters" element="tns:getCardPersonFromSqlServer" />
  </message>
  <message name="getCardPersonFromSqlServerResponse">
    <part name="parameters" element="tns:getCardPersonFromSqlServerResponse" />
  </message>
  <message name="GetContrastData">
    <part name="parameters" element="tns:GetContrastData" />
  </message>
  <message name="GetContrastDataResponse">
    <part name="parameters" element="tns:GetContrastDataResponse" />
  </message>
  <message name="deleteSqlDataById">
    <part name="parameters" element="tns:deleteSqlDataById" />
  </message>
  <message name="deleteSqlDataByIdResponse">
    <part name="parameters" element="tns:deleteSqlDataByIdResponse" />
  </message>
  <message name="addNewSqlData">
    <part name="parameters" element="tns:addNewSqlData" />
  </message>
  <message name="addNewSqlDataResponse">
    <part name="parameters" element="tns:addNewSqlDataResponse" />
  </message>
  <message name="getDataLocation">
    <part name="parameters" element="tns:getDataLocation" />
  </message>
  <message name="getDataLocationResponse">
    <part name="parameters" element="tns:getDataLocationResponse" />
  </message>
  <message name="commitConcertPlot">
    <part name="parameters" element="tns:commitConcertPlot" />
  </message>
  <message name="commitConcertPlotResponse">
    <part name="parameters" element="tns:commitConcertPlotResponse" />
  </message>
  <message name="updateConcertPlot">
    <part name="parameters" element="tns:updateConcertPlot" />
  </message>
  <message name="updateConcertPlotResponse">
    <part name="parameters" element="tns:updateConcertPlotResponse" />
  </message>
  <portType name="AykjData">
    <operation name="getGridInfo">
      <input message="tns:getGridInfo" />
      <output message="tns:getGridInfoResponse" />
    </operation>
    <operation name="GetCrossDomainAPI">
      <input message="tns:GetCrossDomainAPI" />
      <output message="tns:GetCrossDomainAPIResponse" />
    </operation>
    <operation name="GetAllData">
      <input message="tns:GetAllData" />
      <output message="tns:GetAllDataResponse" />
    </operation>
    <operation name="getStatusDataFromSqlServer">
      <input message="tns:getStatusDataFromSqlServer" />
      <output message="tns:getStatusDataFromSqlServerResponse" />
    </operation>
    <operation name="getSeniorInfoFromSqlServer">
      <input message="tns:getSeniorInfoFromSqlServer" />
      <output message="tns:getSeniorInfoFromSqlServerResponse" />
    </operation>
    <operation name="getCardPersonFromSqlServer">
      <input message="tns:getCardPersonFromSqlServer" />
      <output message="tns:getCardPersonFromSqlServerResponse" />
    </operation>
    <operation name="GetContrastData">
      <input message="tns:GetContrastData" />
      <output message="tns:GetContrastDataResponse" />
    </operation>
    <operation name="deleteSqlDataById">
      <input message="tns:deleteSqlDataById" />
      <output message="tns:deleteSqlDataByIdResponse" />
    </operation>
    <operation name="addNewSqlData">
      <input message="tns:addNewSqlData" />
      <output message="tns:addNewSqlDataResponse" />
    </operation>
    <operation name="getDataLocation">
      <input message="tns:getDataLocation" />
      <output message="tns:getDataLocationResponse" />
    </operation>
    <operation name="commitConcertPlot">
      <input message="tns:commitConcertPlot" />
      <output message="tns:commitConcertPlotResponse" />
    </operation>
    <operation name="updateConcertPlot">
      <input message="tns:updateConcertPlot" />
      <output message="tns:updateConcertPlotResponse" />
    </operation>
  </portType>
  <binding name="WebServicePortBinding" type="tns:AykjData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getGridInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCrossDomainAPI">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAllData">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getStatusDataFromSqlServer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getSeniorInfoFromSqlServer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCardPersonFromSqlServer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetContrastData">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteSqlDataById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addNewSqlData">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getDataLocation">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="commitConcertPlot">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateConcertPlot">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WebServiceService">
    <port name="WebServicePort" binding="tns:WebServicePortBinding">
      <soap:address location="http://10.0.0.163:8016/jnws/WebServicePort" />
    </port>
  </service>
</definitions>